<% @submissions.each do |submission| %>
	<%= submission.name %>
	<%= submission.url %>
	<%= submission.body %>
	<%= submission.author %>
	<%= submission.up_votes %>
	<%= submission.down_votes %>
	<%= submission["timestamp"] %>
<a href="/r/<%= @subreddit %>/ <%= @submission %>">comments</a>
<% end %>