<% @submissions.each do |submission| %>
	<p><%= submission["name"] %></p>
	<p><%= submission.url %></p>
	<p><%= submission.body %></p>
	<p><%= submission.author %></p>
	<p><%= submission.up_votes %></p>
	<p><%= submission.down_votes %></p>
	<p><%= submission["timestamp"] %></p>
<!-- <a href="/r/<%= @subreddit %>/ <%= @submission %>">comments</a> -->
<% end %>